adlfs
alembic >= 1.7.5
asyncpg>=0.27
dask >= 2022.11.0
fastapi>=0.87.0
fsspec >= 2022.11.0
gcsfs
gunicorn
psycopg2
pytest
s3fs
sqlmodel >= 0.0.8
universal_pathlib >=0.0.21
uvicorn
xarray >=2022.11.0
zarr >=2.13
